.list_items {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding-bottom: 5px;
  }

  .list-items span {
    color: rgb(37, 37, 37);
  }

  .list_items-button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
  }

  .button_delete i {
    font-size: 16px;
    color: rgb(53, 53, 53);
    margin-right: 20px;
  }

  .button_edit i {
    font-size: 16px;
    color: rgb(53, 53, 53);
    margin-right: 20px;
  }