.list {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
}

.no-task {
    color: #fff;
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}