.footer_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    background-color: #2a2e35;

    h3 {
        color: #6d6d6d;
        font-family: 'Poppins', sans-serif;
        font-size: 13px;
    }
}