.homeContent_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #12181b;
    height: 83vh;
}

.homeContent_container-taskbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    background-color: #2a2e35;
    width: 40%;
    min-width: 450px;
    height: 550px;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: rgba(110, 114, 119, 0.2) 0px 8px 24px;

    h1 {
        color: #f8f8f8;
        font-family: 'Poppins', sans-serif;
        font-size: 30px;
        margin-bottom: 30px;
    }
}

.homeContent_container-taskbox_main {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    margin-bottom: 50px;
    width: 100%;
}

.homeContent_container-calendar {
    background-color: #2a2e35;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    padding: 30px 40px;
    box-shadow: rgba(110, 114, 119, 0.2) 0px 8px 24px;
}

@media screen and (max-width: 960px) {

    .homeContent_container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .homeContent_container-taskbox {
        margin: 0px 50px;
        width: 100%;
        min-width: 400px;
        height: 550px;
    
        h1 {
            font-size: 25px;
            margin-bottom: 10px;
        }
    }

    .homeContent_container-calendar {
        margin: 20px 50px;
    }
}

@media screen and (max-width: 500px) {

    .homeContent_container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .homeContent_container-taskbox {
        margin: 0px 50px;
        width: 100%;
        min-width: 400px;
        height: 550px;
    
        h1 {
            font-size: 25px;
            margin-bottom: 10px;
        }
    }

    .homeContent_container-calendar {
        margin: 20px 50px;
    }
    
}